@import '../../variables.scss';

.button {
	background-color: $dark-background3;
	padding: 1rem;
	border-radius: 0.5rem;
	text-align: center;
	cursor: pointer;
	&--pressed {
		background-color: $blue-color2;
		box-shadow: 0 0 15px rgba($blue-color2, 0.6);

		& * {
			color: $dark-background3;
			text-shadow: none;
		}
	}
	&--disabled {
		background-color: $dark-background2;
		box-shadow: none;
		& * {
			color: $blue-color1;
			text-shadow: none;
		}
	}
	&:active {
		transition: ease-out;
		transform: translateY(1px);
		background-color: $dark-background2;
		box-shadow: none;
		& * {
			color: $blue-color1;
			text-shadow: none;
		}
	}
}
