.password-access {
	min-height: 15rem;
	display: flex;
	flex-direction: column;
	padding-top: 3rem;
	gap: 1rem;

	&__section {
		display: flex;
		gap: 1rem;
		&__button{

			min-width: 6rem;
		}
	}
}
