@import 'variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

//=============NORMALIZE=================
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
	color: $blue-color2;
	text-shadow: 0 0 10px rgba($blue-color2, 0.7);
}
html {
	font-size: 62.5%;
	font-family: 'Inter', 'sans-serif';
}
body {
	background-color: $dark-background1;
}
.text-input {
	background-color: $dark-background3;
	text-shadow: none;
	outline: none;
	color: $blue-color1;
	padding: 1rem;
	border-radius: 0.5rem;
	border: none;
	font-size: 100%;
}
.text--disabled {
	color: $blue-color1;
	text-shadow: none;
}
@media only screen and (max-width: 1200px) {
	html {
		font-size: 50%;
	}
}
@media only screen and (max-width: 768px) {
	html {
		font-size: 43.75%;
	}
}
@media only screen and (max-width: 600px) {
	html {
		font-size: 31.25%;
	}
}
