//Colors

$dark-background1:#363636;
$dark-background2:#2D2D2D;
$dark-background3:#474747;

$blue-color1:#94ADBA;
$blue-color2:#A1D8F6;
$blue-color3:#357DA5;

$green-light:#B2F57E;
$red-light:#F68168;